<div class="columns">
<!-- column -->
<div class="column">
<!-- box -->
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{ book.book_image }}" onError="this.src='http://bulma.io/images/placeholders/128x128.png';" alt="{{ book.title | uppercase }}">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ i+1 }}. {{ book.title | uppercase }}</strong>
          <br>
          <small>By {{ book.author }}</small>
          <br>
          <strong>Description:</strong>
          {{ (book.description) ? (book.description) : 'No info available' }}
        </p>
      </div>
     <nav class="level is-mobile">
        <div class="level-left">
            <a class="button is-primary is-small modal-button" href="{{book.amazon_product_url}}" target="_blank" >Available at Amazon.com</a>
        </div>
      </nav>
    </div>
  </article>
</div>
<!-- box -->
</div>
<!-- column -->
</div>