<!--nav-->
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="assets/img/logo2.png" alt="NY Bestsellers" width="112" height="28">
      </a>
    <div class="nav navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item">Choose a category</a>
        <!-- Categories -->
        <ng-categories></ng-categories>
        <!-- categories -->
      </div>
      <div class="navbar-end">
        <a class="navbar-item"></a> 
        <a class="navbar-item" href="https://developer.nytimes.com/" target="_blank">About</a>
      </div>
    </div>
  </nav>
  <!--nav-->
  <!--section-->
  <section class="section hero is-primary">
    <div class="container">
      <h1 class="title">The New York Times Best Sellers</h1>
      <h2 class="subtitle">
        Top 5 of the most best-sellers by category using <a href="https://developers.nytimes.com/" target="_blank"><strong>The New York Times API</strong></a> for developers.
      </h2>
    </div>
  </section>
  <!--section-->